<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRESHLY</title>
    <link rel="stylesheet" href="../static/css/balcony_garden.css">
</head>

<body>
    <section>
        <h1>Balcony Gardens</h1>
        <div class="gallery-section">
            <div class="gallery-wrap">
                <div class="gallery-images">
                    <div class="gallery">
                        <div class="image-section">
                            <img src="../static/images/balcony-garden/istockphoto-1168888881-1024x1024.jpg" alt="farm">
                        </div>
                        <div class="caption">
                            <h3>Gallery one</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aliquam minima culpa
                                soluta ad nesciunt ipsum quidem ducimus iusto ratione cumque asperiores facilis vel
                                totam.</p>
                        </div>
                    </div>
                    <div class="gallery">
                        <div class="image-section">
                            <img src="../static/images/balcony-garden/istockphoto-1298349133-1024x1024.jpg" alt="farm">
                        </div>
                        <div class="caption">
                            <h3>Gallery 2</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aliquam minima culpa
                                soluta ad nesciunt ipsum quidem ducimus iusto ratione cumque asperiores facilis vel
                                totam.</p>
                        </div>
                    </div>
                    <div class="gallery">
                        <div class="image-section">
                            <img src="../static/images/balcony-garden/istockphoto-1429898222-1024x1024.jpg" alt="farm">
                        </div>
                        <div class="caption">
                            <h3>Gallery 3</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aliquam minima culpa
                                soluta ad nesciunt ipsum quidem ducimus iusto ratione cumque asperiores facilis vel
                                totam.</p>
                        </div>
                    </div>
                    <div class="gallery">
                        <div class="image-section">
                            <img src="../static/images/balcony-garden/istockphoto-1640722715-1024x1024.jpg" alt="farm">
                        </div>
                        <div class="caption">
                            <h3>Gallery one</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aliquam minima culpa
                                soluta ad nesciunt ipsum quidem ducimus iusto ratione cumque asperiores facilis vel
                                totam.</p>
                        </div>
                    </div>
                    <div class="gallery">
                        <div class="image-section">
                            <img src="../static/images/balcony-garden/istockphoto-614980814-1024x1024.jpg" alt="farm">
                        </div>
                        <div class="caption">
                            <h3>Gallery one</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aliquam minima culpa
                                soluta ad nesciunt ipsum quidem ducimus iusto ratione cumque asperiores facilis vel
                                totam.</p>
                        </div>
                    </div>
                    <div class="gallery">
                        <div class="">
                            <img src="../static/images/balcony-garden/" alt="farm">
                        </div>
                        <div class="caption">
                            <h3>Gallery 6</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aliquam minima culpa
                                soluta ad nesciunt ipsum quidem ducimus iusto ratione cumque asperiores facilis vel
                                totam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>