<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blog</title>
    <link rel="stylesheet" href="../static/css/blog.css">
</head>

<body>
    <header>
        <h1>Our Blogs</h1>
    </header>
    <main class="container">
        <div class="blog-section">
            <div class="title">
                <h2>Latest Posts</h2>
            </div>
            <div class="cards" id="blogCards">
                <!-- Blog posts will be dynamically added here -->
            </div>
        </div>
    </main>
    <script src="../static/js/blog.js"></script>
</body>

</html>