<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRESHLY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="../static/css/hydroponics.css">

</head>
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Hydroponic farming</h1>
            </div>
            <div class="content">
                <p>

                    Hydroponic farming is a method of growing plants without soil, using mineral nutrient solutions in a
                    water solvent. Instead of soil, the plant's roots are directly immersed in the nutrient-rich water
                    solution, allowing them to absorb essential minerals for growth. This method offers several
                    advantages, including efficient use of water, precise control over nutrient levels, and the ability
                    to grow plants in environments where soil quality is poor or space is limited.
                </p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
                <div class="image">
                    <img src="../static/images/hydroponic/coriander-4255400_1280.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<body>
</body>

</html>