<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRESHLY</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="../static/script.js" defer></script>
</head>

<body>
    <!--start of nav section-->
    <nav class="sticky">
        <div class="nav-content">
            <ul class="nav-links">
                <li><a href="#">Products</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">STORIES</a></li>
            </ul>
            <div class="logo">
                <a href="#">FRESHLY</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">FARMS</a></li>
                <li><a href="#">WHO WE SERVE</a></li>
                <li><a href="#">FIND US</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">CONTACT US</a></li>

            </ul>
        </div>
    </nav>
    <!--start of hero section -->
    <section>
        <section aria-label="services">
            <div class="carousel" data-carousel>
                <button class="carousel-button prev" data-carousel-button="prev">&#8656</button>
                <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
                <ul data-slides>
                    <li class="slide" data-active>
                        <img src="../static/images/jonathan-kemper-oHCalaoeD0Q-unsplash.jpg">
                    </li>
                    <li class="slide">
                        <img
                            src="../static/images/markus-spiske-4PG6wLlVag4-unsplash.jpg">
                    </li>
                    <li class="slide">
                        <img src="../static/images/kelly-sikkema-iu3MkDoQXDM-unsplash.jpg" alt="Vertical farming">
                    </li>
                </ul>
            </div>


        </section>
        <!--start of services section-->
        <section>
            <div class="container">
                <div class="service-wrapper">
                    <div class="service">
                        <h1>Our Services <span></span></h1>
                        <div class="cards">
                            <div class="card">
                                <i class="fa-brands fa-chromecast"></i>
                                <h2>Vertical Farming</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-layer-group"></i>
                                <h2>Aquaponics</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-user-group"></i>
                                <h2>Permaculture</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-desktop"></i>
                                <h2>Chicken Tunnels</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-camera"></i>
                                <h2>Consumer Education</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-gear"></i>
                                <h2>Other</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--end of services section-->

    <!--start of countersection-->
    <section class="wrapper">
        <div class="container">
        </div>
    </section>
    <!--end of counter section-->

    <!--start of mission vision and values section-->
    <div class="mvv-container">
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/mission.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Our mission</h4>
                <p>To revolutionize the food industry through sustainable practices, providing access to locally
                    sourced, ethically produced ingredients and empowering individuals to make environmentally conscious
                    food choices for a healthier planet and future.</p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/vision2.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Our Vision</h4>
                <p>To lead the global shift towards sustainable food production, where every meal nourishes both people
                    and the planet, fostering a world of abundance, equality, and ecological harmony.</p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/Sustainable Food Systems.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Our Values</h4>
                <p><b>Sustainability:</b> We are committed to sustainable farming and production methods that prioritize
                    environmental health and biodiversity conservation.
                    <br><b>Ethical Sourcing:</b> We ensure fair and transparent sourcing practices, supporting local
                    farmers and
                    producers who uphold high standards of animal welfare and ecological stewardship.
                    <br><b>Quality:</b> We deliver exceptional quality in every product, from farm to table, ensuring
                    freshness,
                    flavor, and nutritional value.
                    <br><b>Education:</b> We believe in the power of education to inspire change, providing resources
                    and
                    information to help consumers make informed choices about their food.
                    <br><b>Collaboration:</b> We foster partnerships and collaboration across the food industry, working
                    together
                    to overcome challenges and drive innovation towards a more sustainable future.
                    <br><b>Accessibility:</b> We strive to make sustainable food options accessible to all, regardless
                    of income or
                    location, promoting food justice and equity in our communities.
                </p>
            </div>
        </div>

    </div>
    <!--start of footer section-->
    <footer>
        <div class="global">
            <div class="curve"></div>
            <div class="container">
                <div class="footer-container">

                    <div class="footer-column">
                        <h6>FRESHLY</h6>
                        <P>Creating a comprehensive solution that addresses multiple challenges within the food industry
                            while also providing value to consumers, businesses, and the environment.</P>
                    </div>
                    <div class="footer-column">
                        <h6>Pages</h6>
                        <ul>
                            <li><a href="#">Vertical Farming</a></li>
                            <li><a href="#">Aquaponics</a></li>
                            <li><a href="#">Permaculture</a></li>
                            <li><a href="#">Bee-Friendly Orchards</a></li>
                            <li><a href="#">Chicken tunnels</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h6>Connect</h6>
                        <ul>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Benefits</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h6>Contact Us</h6>
                        <ul>
                            <li><a href="#">info@freshly.com</a></li>
                            <li><a href="#">00100 Nairobi, Kenya</a></li>
                            <li><a href="#">+254 7417 5371 0</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-row">
                    <div class="footer-column social">
                        <h6>Follow Us</h6>
                        <p>Let us join hands to envision and shape a world that values both nature and <br>
                            sustainability. Connect with us on other plattforms.</p>
                        <a href="#"><i class="fab fa-facebook "></i></a>
                        <a href="#"><i class="fab  fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-snapchat"></i></a>
                        <a href="#"><i class="fab fa-linkedIn "></i></a>
                    </div>
                </div>
                <div class="footer-row copyright">
                    <p class="copyright">&copy; FRESHLY All rights reserved.</p>
                </div>

            </div>

        </div>
    </footer>
</body>

</html>