<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Afriqa</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="../static/script.js" defer></script>
</head>

<body>
    <!--start of nav section-->
    <nav class="sticky">
        <div class="nav-content">
            <div class="logo">
                <a href="#">FRESHLY</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">FARMS</a></li>
            </ul>
        </div>
    </nav>
    <!--start of carousel section -->
    <section>
        <section aria-label="services">
            <div class="carousel" data-carousel>
                <button class="carousel-button prev" data-carousel-button="prev">&#8656</button>
                <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
                <ul data-slides>
                    <li class="slide" data-active>
                        <img src="../static/images/Tower Garden Strawberry _ Aeroponic Strawberries _ Tower Farm.jpeg"
                            alt="Vertical farming">
                    </li>
                    <li class="slide">
                        <img src="../static/images/Ditch the Dirt, Embrace the Bounty_ Hydroponic Farming!.jpeg"
                            alt="Vertical farming">
                    </li>
                    <li class="slide">
                        <img src="../static/images/My Hydroponics third generation (4).jpeg" alt="Vertical farming">
                    </li>
                </ul>
            </div>


        </section>
        <section>
            <div class="container">
                <div class="service-wrapper">
                    <div class="service">
                        <h1>Our Services <span></span></h1>
                        <div class="cards">
                            <div class="card">
                                <i class="fa-brands fa-chromecast"></i>
                                <h2>Vertical Farming</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-layer-group"></i>
                                <h2>Aquaponics</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-user-group"></i>
                                <h2>Permaculture</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-desktop"></i>
                                <h2>Chicken Tunnels</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-camera"></i>
                                <h2>Consumer Education</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>
                            <div class="card">
                                <i class="fa-solid fa-gear"></i>
                                <h2>Other</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur laborum quae sunt
                                    qui excepturi nam et quibusdam dolorum! Neque quos, magni possimus nam excepturi
                                    exercitationem numquam voluptates qui reiciendis tempora?</p>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="content">
            <div class="info">
                <h2>Like Nature <br> Be sustainable</h2>
                <br>
                <p>At ECO-AFRIQA innovations we believe that focusing on sustainability, novel delivery processes, waste
                    management, and accessibility are not only crucial for addressing current challenges but also have
                    the potential to make a significant positive impact on society and the environment.</p>
                <br>
                <a href="" class="info-btn">More Info</a>
            </div>
            <br>
        </div>

    </section>
    <!--start of footer section-->
    <footer>
        <div class="global">
            <div class="curve"></div>
            <div class="container">
                <div class="footer-container">

                    <div class="footer-column">
                        <h6>FRESHLY</h6>
                        <P>Creating a comprehensive solution that addresses multiple challenges within the food industry
                            while also providing value to consumers, businesses, and the environment.</P>
                    </div>
                    <div class="footer-column">
                        <h6>Services</h6>
                        <ul>
                            <li><a href="#">Vertical Farming</a></li>
                            <li><a href="#">Aquaponics</a></li>
                            <li><a href="#">Permaculture</a></li>
                            <li><a href="#">Bee-Friendly Orchards</a></li>
                            <li><a href="#">Chicken tunnels</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h6>About</h6>
                        <ul>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Benefits</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h6>Legal</h6>
                        <ul>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Contract Policy</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="footer-row">
                    <div class="footer-column social">
                        <h6>Follow Us</h6>
                        <a href="#"><i class="fab fa-facebook "></i></a>
                        <a href="#"><i class="fab  fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-snapchat"></i></a>
                        <a href="#"><i class="fab fa-linkedIn "></i></a>
                    </div>
                </div>
                <div class="footer-row copyright">
                    <p class="copyright">&copy; ECO-AFRIQA All rights reserved.</p>
                </div>

            </div>

        </div>
    </footer>
</body>

</html>