<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRESHLY</title>
    <link rel="stylesheet" href="../static/css/services_styles.css">
</head>

<body>
    <!--start of mission vision and values section-->
    <div class="mvv-container">
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/mission.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Vertical Farming</h4>
                <p>To revolutionize the food industry through sustainable practices, providing access to locally
                    sourced, ethically produced ingredients and empowering individuals to make environmentally conscious
                    food choices for a healthier planet and future.</p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/vision2.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Aquaponics</h4>
                <p>To lead the global shift towards sustainable food production, where every meal nourishes both people
                    and the planet, fostering a world of abundance, equality, and ecological harmony.</p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/Sustainable Food Systems.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Chicken Tunnels</h4>
                <p><b>Sustainability:</b> We are committed to sustainable farming and production methods that prioritize
                    environmental health and biodiversity conservation.
                    <br><b>Ethical Sourcing:</b> We ensure fair and transparent sourcing practices, supporting local
                    farmers and
                    producers who uphold high standards of animal welfare and ecological stewardship.
                    <br><b>Quality:</b> We deliver exceptional quality in every product, from farm to table, ensuring
                    freshness,
                    flavor, and nutritional value.
                    <br><b>Education:</b> We believe in the power of education to inspire change, providing resources
                    and
                    information to help consumers make informed choices about their food.
                    <br><b>Collaboration:</b> We foster partnerships and collaboration across the food industry, working
                    together
                    to overcome challenges and drive innovation towards a more sustainable future.
                    <br><b>Accessibility:</b> We strive to make sustainable food options accessible to all, regardless
                    of income or
                    location, promoting food justice and equity in our communities.
                </p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/mission.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Permaculture Gardens</h4>
                <p>To revolutionize the food industry through sustainable practices, providing access to locally
                    sourced, ethically produced ingredients and empowering individuals to make environmentally conscious
                    food choices for a healthier planet and future.</p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/vision2.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Farm to table markets</h4>
                <p>To lead the global shift towards sustainable food production, where every meal nourishes both people
                    and the planet, fostering a world of abundance, equality, and ecological harmony.</p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="../static/images/Sustainable Food Systems.jpeg" alt="">
            </div>
            <div class="content">
                <h4>Educational Awareness</h4>
                <p><b>Sustainability:</b> We are committed to sustainable farming and production methods that prioritize
                    environmental health and biodiversity conservation.
                    <br><b>Ethical Sourcing:</b> We ensure fair and transparent sourcing practices, supporting local
                    farmers and
                    producers who uphold high standards of animal welfare and ecological stewardship.
                    <br><b>Quality:</b> We deliver exceptional quality in every product, from farm to table, ensuring
                    freshness,
                    flavor, and nutritional value.
                    <br><b>Education:</b> We believe in the power of education to inspire change, providing resources
                    and
                    information to help consumers make informed choices about their food.
                    <br><b>Collaboration:</b> We foster partnerships and collaboration across the food industry, working
                    together
                    to overcome challenges and drive innovation towards a more sustainable future.
                    <br><b>Accessibility:</b> We strive to make sustainable food options accessible to all, regardless
                    of income or
                    location, promoting food justice and equity in our communities.
                </p>
            </div>
        </div>


    </div>

</body>

</html>