/* Global styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Banner section */
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #4CAF50), url('../images/Awesome garden layout.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-txt {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-txt h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-txt p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 0.5px solid wheat;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: #000;
}

@media screen and (max-width: 770px) {
    .banner-txt h1 {
        font-size: 44px;
    }

    .banner-txt a {
        display: block;
        margin: 20px auto;
    }
}

#feature {
    width: 100%;
    padding: 70px 0;
    background: #f8f8f8;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #4CAF50;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#4CAF50, #fff);
    top: -20px;
    left: 0;
    z-index: -1;
    display: block;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: absolute;
}

.title-text h1 {
    font-size: 50px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.features {
    flex-basis: 45%;
}

.features-img {
    flex-basis: 45%;
    margin: auto;
    text-align: center;
}

.features-img img {
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
}

.features h1 {
    margin-bottom: 10px;
    font-weight: 600;
    color: #4CAF50;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-text {
    padding: 0 20px;
}

@media screen and (max-width: 770px) {
    .title-text h1 {
        font-size: 35px;
    }

    .features,
    .features-img {
        flex-basis: 100%;
    }

    .features-img img {
        width: 100%;
    }
}



#services {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #4CAF50);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p {
    font-size: 14px;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .service-desc p {
        font-size: 12px;
    }

    hr {
        margin: 5px auto;
    }

    .single-service:hover .service-desc {
        bottom: 25% !important;
    }
}

/* Testimonials section */
#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fab {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small {
    color: #4CAF50;
}

.testimonial-col:hover {
    transform: translateY(7px);
}

@media screen and (max-width: 770px) {
    .testimonial-col {
        flex-basis: 100%;
    }
}

/* Meet section */
.footing {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footing-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
}

.footing-left,
.footing-right {
    flex-basis: 45%;
    padding: 10px 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.footing-right {
    text-align: right;
}

.footing-row h1 {
    margin: 10px 0;
}

.footing-row p {
    line-height: 35px;
}

.footing-left .fas,
.footing-right .fas {
    font-size: 20px;
    color: #4CAF50;
    margin: 10px;
}

.footing-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}