@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    font-family: "Poppins", sans-serif;

}

.title-box {
    text-align: center;
    margin: 100px auto 50px;

}

.title-box p {
    margin-top: 10px;
    line-height: 25px;
}

.profile-box {
    width: 240px;
    height: 240px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}

.profile-box img {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;

}

.profile-box h4 {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #4CAF50;;

}

small {
    color: #555;
}

.social-box {
    background: #4CAF50;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;


}

.social-box .fa {
    margin: 5px;
    color: #fff;
    cursor: pointer;
}

.profile-box P {
    text-align: 5px;
    line-height: 24px;
    color: #555;
}

.team-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.profile-box img:hover {
    width: 240px;
}

.profile-box:hover {
    background: #4CAF50;
}

.profile-box:hover h4 {
    color: #fff;
}
.profile-box:hover p {
    color: #efefef;
}
.profile-box:hover small {
    color: #efefef;
}
.profile-box:hover .social-box {
   background-color: #fff;
}
.profile-box:hover .social-box .fa {
    color: #2196f3;
}

