@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #6eea83;

    font-family: "Poppins", sans-serif;
}

.conteina {
    max-width: 100%;
    margin: 106 auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* Add this CSS to your existing stylesheet or create a new one */
#introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.text button:hover {
    background-color: #45a049;
    text-align: center;
}

.image img {
    max-width: 1200px;
    height: 60vh;
    border-radius: 8px;

}


header h1 {
    color: #4CAF50;
}

section {
    margin-bottom: 40px;
}

section p {
    text-align: center;
}

.btn {
    display: block;
    margin: 0 auto;
}


h2 {
    color: #4CAF50;
    text-align: center;
}

ul,
ol {
    margin-bottom: 20px;
}

.foot {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

button:hover {
    background-color: #4CAF50;
}

.title-box {
    text-align: center;
    margin: 100px auto 50px;

}

.title-box p {
    margin-top: 10px;
    line-height: 25px;
}

.profile-box {
    width: calc(30% - 30px);
    margin-right: 20px;
    height: 240px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 60px;
    box-shadow: 0 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
    float: left;
    box-sizing: border-box;
    transition: all 0.3s;
}

.profile-box img {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;

}

.profile-box h4 {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #4CAF50;

}

small {
    color: #555;
}

.social-box {
    background: #4CAF50;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;


}

.social-box .fa {
    margin: 5px;
    color: #fff;
    cursor: pointer;
}

.profile-box P {
    text-align: 5px;
    line-height: 24px;
    color: #555;
}

.profile-box:nth-child(3n) {
    margin-right: 0;
}


.team-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 85%; */
    margin-bottom: 20px;
}

.profile-box img:hover {
    width: 240px;
}

.profile-box:hover {
    background: #4CAF50;
}

.profile-box:hover h4 {
    color: #fff;
}

.profile-box:hover p {
    color: #efefef;
}

.profile-box:hover small {
    color: #efefef;
}

.profile-box:hover .social-box {
    background-color: #fff;
}

.profile-box:hover .social-box .fa {
    color: #4CAF50;
}

/*Mission, vision, values section*/
.mvv-container {
    max-width: 90%;
    margin: 50px auto 0;
}

.mvv-container .mvv-block {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mvv-container .mvv-block .image {
    flex: 0 0 auto;
    width: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .3);
    line-height: 0;
}

.mvv-container .mvv-block .image img {
    width: 100%;
    transition: transform 0.3s;
    transform: scale(1);
}

.mvv-container .mvv-block .image:hover img {
    transform: scale(1);

}

.mvv-container .mvv-block .content {
    flex: 0 0 auto;
    width: calc(100% - 400px);
    box-sizing: border-box;
    align-self: center;
}

.mvv-container .mvv-block .content h4 {
    font-weight: 700;
    font-size: 22px;
    color: #4CAF50;
    margin-bottom: 10px;

}

.mvv-container .mvv-block .content p {
    font-size: 15px;
}

@media screen and (min-width:1024px) {
    .mvv-container .mvv-block:nth-child(odd) .image {
        order: 1;

    }

    .mvv-container .mvv-block:nth-child(even) .image {
        order: 2;
    }

    .mvv-container .mvv-block:nth-child(odd) .content {
        order: 2;
        padding-left: 30px;
    }

    .mvv-container .mvv-block:nth-child(even) .content {
        order: 1;
        padding-right: 30px;
    }
}

strong {
    color: #4CAF50;
}