@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

.contact .content {
    max-width: 800px;
    text-align: center;
    margin-bottom: 50px;
}

.contact .content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 600;
}

.contact .content p {
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon {
    position: relative;
    width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 30deg, #4CAF50 0%, #4CAF50 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .contactInfo .box .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #4CAF50 0%, #4CAF50 10%, transparent 10%, transparent 50%);
}

.container .contactInfo .box .icon::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}

.container .contactInfo .box .icon b {
    position: absolute;
    inset: 10px;
    background: #4CAF50;
    z-index: 2;
}

.container .contactInfo .box .icon i {
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.container .contactInfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-family: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #4CAF50;
}

.container .contactInfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #4CAF50;
    padding-left: 10px;
    line-height: 1em;
}

.container .contactInfo .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

.container .contactInfo .social-media .icons {
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center the icons horizontally */
    gap: 30px;
    /* Add gap between icons */
}

.container .contactInfo .social-media .icons .sci {
    list-style: none;
}

.container .contactInfo .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container .contactInfo .social-media ul li a {
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}

.container .contactInfo .social-media ul li a:hover {
    color: #4CAF50;
    filter: drop-shadow(0 0 5px #4CAF50);
}

.container .contactform {
    position: relative;
    width: 40%;
    padding: 60px;
    background: repeating-conic-gradient(from var(--a), #4CAF50 0%, #4CAF50 10%, transparent 10%, transparent 50%);
    overflow: hidden;
}

.container .contactform::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 0deg, #4CAF50 0%, #4CAF50 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactform::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .contactform form {
    position: relative;
    z-index: 10;
}

.container .contactform form h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.container .contactform form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactform form .inputBox input,
.container .contactform form .inputBox input {
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    border: none;
    background: transparent;
    border-bottom: 2px solid #4CAF50;
    color: #fff;
    outline: none;
    resize: none;
}

.container .contactform form .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}

.container .contactform form .inputBox input:focus~span,
.container .contactform form .inputBox textarea:focus~span,
.container .contactform form .inputBox input:valid~span,
.container .contactform form .inputBox textarea:valid~span {
    color: #4CAF50;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactform form .inputBox input[type="submit"] {
    width: 100px;
    background: #4CAF50;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

@media(max-width: 991px) {
    .container {
        flex-direction: column;
    }

    .container .contactInfo,
    .container .contactform {
        width: 100%;
    }

    .container .contactform {
        padding: 40px;
    }

    .container .contactform form {
        padding: 10px;
    }
}