{% extends 'master.html' %}
{% block title %}About_Us - FRESHLY{% endblock %}
{% block extra_css %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/About.css' %}">
{% endblock %}


{% block content %}


    <div class="conteina">

        <div id="introduction">
            <div class="text">
                <h2 id>About Us</h2>
                <p>At <strong>FRESHLY</strong> we're an agricultural enterprise providing inventive solutions to
                    conventional farming challenges and introducing innovative approaches to address and adjust to
                    farming conditions, whether in urban neighborhoods or rural regions. Our diverse range of
                    innovations is tailored for both backyard gardens and large-scale commercial farming endeavors.
                </p>
                <p>We aim to:</p>
                <ul>
                    <li>Increase productivity by multiplying your land by 10 times</li>
                    <li>Produce food in harmony with nature, minimizing our environmental footprint.</li>
                    <li>Empower local communities by providing opportunities for economic growth and food security.</li>
                    <li>Educate consumers to make informed choices that benefit both themselves and the planet.</li>
                    <li>Multiply consumers profit due to higher productivity</li>
                    <li>Produce a variety of nutritious meals in limited space</li>
                </ul>
                <button>Request a Quote</button>
            </div>
            <div class="image">
                <img src="{% static 'images/balcony-garden/istockphoto-1437577510-1024x1024.jpg' %}">
            </div>
        </div>

        <!--  mission vision values  section start  -->
        <section id="mission">
            <h2>Our Mission</h2>
            <p>At <strong>FRESHLY</strong> our mission is to revolutionize the agricultural landscape by
                fostering sustainability, promoting biodiversity, and enhancing food security. Through innovative
                solutions and cutting-edge technologies, we strive to empower farmers and communities alike, enabling
                them to cultivate healthy, nutritious produce while minimizing environmental impact. Our commitment to
                excellence drives us to continuously pioneer new approaches, making farming accessible, efficient, and
                resilient, from urban gardens to rural farmlands. Together, we are shaping a future where agriculture
                thrives harmoniously with nature, nourishing communities and sustaining our planet for generations to
                come.</p>


        </section>

        <section id='vision'>
            <div class="mvv-container">

                <div class="mvv-block">
                    <div class="image">
                        <img src="{% static 'images/vision2.jpeg' %}" alt="">
                    </div>
                    <div class="content">
                        <h4>Our Vision</h4>
                        <p>To lead the global shift towards sustainable food production, where every meal nourishes both
                            people
                            and the planet, fostering a world of abundance, equality, and ecological harmony.</p>
                    </div>
                </div>
                <div class="mvv-block">
                    <div class="image">
                        <img src="{% static 'images/Sustainable Food Systems.jpeg' %}" alt="">
                    </div>
                    <div class="content">
                        <h4>Our Values</h4>
                        <p><b>Sustainability:</b> We are committed to sustainable farming and production methods that
                            prioritizewah
                            environmental health and biodiversity conservation.
                            <br><b>Ethical Sourcing:</b> We ensure fair and transparent sourcing practices, supporting
                            local
                            farmers and
                            producers who uphold high standards of animal welfare and ecological stewardship.
                            <br><b>Quality:</b> We deliver exceptional quality in every product, from farm to table,
                            ensuring
                            freshness,
                            flavor, and nutritional value.
                            <br><b>Education:</b> We believe in the power of education to inspire change, providing
                            resources
                            and
                            information to help consumers make informed choices about their food.
                            <br><b>Collaboration:</b> We foster partnerships and collaboration across the food industry,
                            working
                            together
                            to overcome challenges and drive innovation towards a more sustainable future.
                            <br><b>Accessibility:</b> We strive to make sustainable food options accessible to all,
                            regardless
                            of income or
                            location, promoting food justice and equity in our communities.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <hr>
        <!--  mission vision values end  -->
        <section id="approach">
            <h2>Our Approach</h2>
            <p>What sets <strong>FRESHLY</strong> apart is our commitment to:</p>
            <ol>
                <li><strong>Sustainable Practices:</strong> Prioritizing sustainability in every aspect of our
                    operations, from seed sourcing to distribution.</li>
                <li><strong>Cutting-Edge Technology:</strong> Harnessing technology to optimize farming processes,
                    increase efficiency, and reduce resource consumption.</li>
                <li><strong>Transparent Supply Chain:</strong> Maintaining open communication with customers, sharing
                    insights into our farming practices and product journey.</li>
            </ol>
        </section>

        <hr>
        <!--  team section  -->
        <section id="team">
            <h2>Our Team</h2>
            <p>Behind <strong>Freshly</strong> is a diverse team of dedicated individuals united by a passion
                for creating a better future through food.Meet the faces driving our mission forward.</p>

            <!--  team members  -->
            <div class="team-row">
                <div class="profile-box">
                    <h4>Kevin Manoti</h4>
                    <small>Founder and C.E.O</small>
                    <img src="{% static 'images/founder.jpg'%}" alt="img">
                    <div class="social-box">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                    <p>meet the passionate minds driving positive change for our planet. Welcome,
                        where</p>
                </div>
                <div class="profile-box">
                    <h4>James Patrick</h4>
                    <small>C.T.O</small>
                    <img src="{% static 'images/sec1.jpg' %}" alt="img">
                    <div class="social-box">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                    <p>meet the passionate minds driving positive change for our planet. Welcome,
                        where</p>
                </div>

                <div class="profile-box">
                    <h4>Ondieki Brian</h4>
                    <small>C.0.O</small>
                    <img src="{% static 'images/founder.jpg' %}" alt="img">
                    <div class="social-box">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                    <p>meet the passionate minds driving positive change for our planet. Welcome,
                        where</p>
                </div>
                <div class="profile-box">
                    <h4>Ondieki Brian</h4>
                    <small>Digital Marketing</small>
                    <img src="{% static 'images/founder.jpg'%}" alt="img">
                    <div class="social-box">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                    <p>meet the passionate minds driving positive change for our planet. Welcome,
                        where</p>
                </div>
                <div class="profile-box">
                    <h4>Ondieki Brian</h4>
                    <small>Sales</small>
                    <img src="{% static 'images/founder.jpg'%}" alt="img">
                    <div class="social-box">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                    <p>meet the passionate minds driving positive change for our planet. Welcome,
                        where</p>
                </div>
                <div class="profile-box">
                    <h4>Ondieki Brian</h4>
                    <small>C.0.O</small>
                    <img src="{% static 'images/founder.jpg' %}" alt="img">
                    <div class="social-box">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    </div>
                    <p>meet the passionate minds driving positive change for our planet. Welcome,
                        where</p>
                </div>
            </div>
        </section>
        <!--  team section end -->

        <section id="join">
            <h2>Join Us</h2>
            <p>We invite you to join us on our journey to transform the food industry. Whether you're a consumer seeking
                sustainable and nutritious food options or a partner interested in collaborating with us, we welcome
                you.</p>
            <button class="btn"><a href="contact.html">Contact Us</a></button>
        </section>


        <div class='foot'>
            <p>Thank you for your support,</p>
            <p><strong>Kevin Manoti</strong><br>Founder & CEO, <strong>Freshly</strong></p>
        </div>
    </div>


{%endblock%}