{% extends 'master.html' %}
{% block title %}Aquaponics - FRESHLY{% endblock %}
{%block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/aquaponics.css' %}" />
{% endblock %} 
{% block content %}
    <section class="aquaponics-garden">
        <div class="content">
            <h2>Aquaponics Garden</h2>
            <p>Explore the innovative combination of aquaculture and hydroponics to create a sustainable and symbiotic
                garden system.</p>
        </div>
        <div class="garden-description">
            <h3>What is an Aquaponics Garden?</h3>
            <p>An aquaponics garden is a closed-loop system that combines aquaculture (raising aquatic animals) with
                hydroponics (growing plants in water). In this system, fish waste provides nutrients for the plants,
                while the plants filter and purify the water for the fish. It's a highly efficient and sustainable way
                to grow both fish and vegetables.</p>
        </div>
        <div class="garden-images">
            <img src="{% static 'images/aquaponics/cool bog addition.jpeg'%}" alt="Aquaponics Garden 1">
            <img src="{% static 'images/aquaponics/Recyclable cheap but effective aquaponics from plastic barrel.jpeg' %}" alt="Aquaponics Garden 2">
            <img src="{% static 'images/aquaponics/Mountain trout.jpeg' %}" alt="Aquaponics Garden 3">
            <img src="{% static 'images/aquaponics/Koi Aquaponics Setup - Why Build a Sustainable System.jpeg' %}" alt="Aquaponics Garden 4">
            <img src="{% static 'images/aquaponics/Easy beautiful DIY Aquaponics.jpeg'%}" alt="Aquaponics Garden 5">
            <img src="{% static 'images/aquaponics/Hydroponics.jpeg'%}" alt="Aquaponics Garden 6">
        </div>
        <div class="cta-container">
            <a href="#" class="cta-button">Start Your Aquaponics Garden</a>
        </div>
    </section>
</body>
{% endblock%}