{% extends 'master.html' %}
{% block title %}Balconygardens - FRESHLY{% endblock %}
{% block extra_css %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/balcony_garden.css' %}">
{% endblock %}


{% block content %}

    <section class="balcony-rooftop">
        <div class="content">
            <h2>Balcony/Rooftop Gardens</h2>
            <p>Discover how to transform your balcony or rooftop into a vibrant and sustainable garden space.</p>
        </div>
        <div class="garden-description">
            <h3>What are Balcony/Rooftop Gardens?</h3>
            <p>Balcony and rooftop gardens are innovative solutions for urban dwellers who want to enjoy the benefits of gardening in limited spaces. These gardens utilize containers, vertical structures, and other space-saving techniques to grow a variety of plants, herbs, and vegetables.</p>
        </div>
        <div class="garden-images">
            <img src="{% static 'images/balcony-garden/13 Most Productive Vegetables for a Balcony and Patio Garden.jpeg'%}" alt="Balcony/Rooftop Garden 1">
            <img src="{% static 'images/balcony-garden/download (12).jpeg' %}" alt="Balcony/Rooftop Garden 2">
            <img src="{% static 'images/balcony-garden/download (13).jpeg' %}" alt="Balcony/Rooftop Garden 3">
            <img src="{% static 'images/balcony-garden/download (10).jpeg' %}" alt="Balcony/Rooftop Garden 4">
            <img src="{% static 'images/balcony-garden/istockphoto-1175641792-1024x1024.jpg'%}" alt="Balcony/Rooftop Garden 5">
            <img src="{% static 'images/download (8).jpeg'%}" alt="Balcony/Rooftop Garden 6">
        </div>
        <div class="cta-container">
            <a href="#" class="cta-button">Start Your Balcony/Rooftop Garden</a>
        </div>
    </section>
</body>

{%endblock%}