{% extends 'master.html' %}
{% block title %}Contact - FRESHLY{% endblock %}
{%block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/contact_styles.css' %}" />
{% endblock %} 
{% block content %}
    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Join Our Mission!
                Let's embark on this journey together towards a more sustainable future. Join us and become a part of it
            </p>
        </div>
        <div class="container">
            <!--start of contact boxes-->
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><b></b><i class="fa-solid fa-location-pin"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>C58 Magadi Road,<br> Ongata Rongai, <br>Kajiado</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><b></b><i class="fa-solid fa-phone-volume"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+254 7417 5371 0</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><b></b><i class="fa-solid fa-envelope"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>info@freshly.com</p>
                    </div>
                </div>
                <h2 class="txt">Connect with us</h2>
                <div class="social-media">
                    <div class="icons">
                        <ul>
                            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-square-x-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="contactform">
                <form action="">
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="fullname" id="fullname" required="required">
                        <label for="fullname">Full Name</label>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" id="email" required="required">
                        <label for="email">Email</label>
                    </div>
                    <div class="inputBox">
                        <textarea name="message" id="message" required="required"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
{%endblock%}