{% extends 'master.html' %}
{% block title %}Home - FRESHLY{% endblock %}
{% load static %}

{% block content %}

<!--start of hero section -->
<section>
    <section aria-label="services">
        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8656</button>
            <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="{% static 'images/jonathan-kemper-oHCalaoeD0Q-unsplash.jpg'%}">
                </li>
                <li class="slide">
                    <img src="{% static 'images/markus-spiske-4PG6wLlVag4-unsplash.jpg'%}">
                </li>
                <li class="slide">
                    <img src="{% static 'images/kelly-sikkema-iu3MkDoQXDM-unsplash.jpg'%}" alt="Vertical farming">
                </li>
            </ul>
        </div>


    </section>
    <!--start of services section-->

    <section>
        <div class="serv-container">
            <div class="service-wrapper">
                <div class="service">
                    <h1>Our Gardens <span></span></h1>
                    <div class="serv-cards">
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/hydroponic/hydroponic1vert'%}" alt="Kitchen Gardens">
                                <div class="image-text">Hydroponics</div>
                            </div>
                            <h2>Hydroponic Vertical Garden</h2>
                            <p>Hydroponic systems grow plants in nutrient-rich water solutions without soil, often utilizing vertical towers or racks to maximize space.
                                at Freshly towers are used in vertical hydroponic farms to grow a variety of crops, including lettuce, strawberries, and microgreens.</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/aquaponics/Hydroponics.jpeg'%}" alt="Aquaponics">
                                <div class="image-text">Aquaponics</div>
                            </div>
                            <h2>Aquaponics Vertical Garden</h2>
                            <p>Aquaponic systems integrate fish farming with plant cultivation, where fish waste provides nutrients for the plants, and the plants help filter and purify the water for the fish.
                                Freshly incorporates aquaponics into its vertical farming system, growing greens, herbs, and fish in a closed-loop ecosystem.</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/pexels-pixabay-39511.jpg'%}"
                                    alt="Permaculture">
                                <div class="image-text">Living Walls</div>
                            </div>
                            <h2>Living Walls Garden</h2>
                            <p>Living walls are vertical structures covered with plants, sometimes incorporating hydroponic or soil-based growing systems for urban agriculture.</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/chunnels/chunnel.jpeg'%}" alt="Chicken Tunnels">
                                <div class="image-text">Vertical Tower Gardens</div>
                            </div>
                            <h2>Vertical Garden Towers</h2>
                            <p>Vertical towers are freestanding structures with multiple planting pockets or shelves, allowing for efficient use of vertical space in urban environments.
                                Freshly installs vertical garden towers in urban areas, providing opportunities for residents and businesses to grow their own food in limited spaces.</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/consultations/ren.jpeg'%}" alt="Consumer Education">
                                <div class="image-text">Vertical soil-based</div>
                            </div>
                            <h2>Vertical soil-based Towers</h2>
                            <p>Vertical farms that utilize traditional soil-based growing methods but in a vertical configuration, often with stacked planter systems or tiered beds.
                                Freshly operates rooftop greenhouse farms in urban areas, using soil-based growing methods to produce a variety of leafy greens and herbs in vertically stacked beds.
                                </p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/hydroponic/coriander-4255400_1280.jpg'%}" alt="Other">
                                <div class="image-text">Other</div>
                            </div>
                            <h2>Modular Vertical Garden</h2>
                            <p>Modular systems allow for flexible configurations of vertical growing spaces, often using modular panels or containers that can be stacked or arranged as needed.Freshly Farms Co. offers customizable modular farming units that can be installed in urban environments, providing vertical growing spaces for a variety of crops.</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/chunnels/chunnel.jpeg'%}" alt="Chicken Tunnels">
                                <div class="image-text">Chicken Tunnels</div>
                            </div>
                            <h2>Chicken Tunnels</h2>
                            <p>Chicken tunnels, also known as chicken runs or poultry tunnels, are enclosed pathways or structures that provide outdoor access and roaming space for chickens while protecting them from predators and other hazards</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/chunnels/chunnel.jpeg'%}" alt="Chicken Tunnels">
                                <div class="image-text">Chicken Tunnels</div>
                            </div>
                            <h2>Aeroponic Vertical Gardens</h2>
                            <p>Aeroponic systems suspend plants in air and mist their roots with a nutrient-rich solution, allowing for efficient nutrient uptake and oxygenation.
                                Freshly grows leafy greens and herbs in vertically stacked trays in indoor facilities.</p>
                        </div>
                        <div class="serv-card">
                            <div class="image-container">
                                <img src="{% static 'images/chunnels/chunnel.jpeg'%}" alt="Chicken Tunnels">
                                <div class="image-text">Chicken Tunnels</div>
                            </div>
                            <h2>Modular Vertical Aquaponic Garden.</h2>
                            <p>This system combines vertical gardening with aquaponics, creating a closed-loop ecosystem where plants are grown in vertically stacked beds above fish tanks.
                                The system features multiple tiers of growing beds arranged vertically, allowing for efficient use of space in urban environments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--end of services section-->

    <!--start of countersection-->
    <section class="cont-container">
        <div class="counter" id="counter">0</div>
        <div class="metrics">
            <div class="metric">
                <div class="icon">
                    <i class="fas fa-seedling"></i>
                </div>
                <div class="description">Harvested</div>
            </div>
            <div class="metric">
                <div class="icon">
                    <i class="fas fa-carrot"></i>
                </div>
                <div class="description">Food Grown</div>
            </div>
            <div class="metric">
                <div class="icon">
                    <i class="fas fa-apple-alt"></i>
                </div>
                <div class="description">Fresh Food Produced</div>
            </div>
            <div class="metric">
                <div class="icon">
                    <i class="fas fa-coins"></i>
                </div>
                <div class="description">Income Generated</div>
            </div>
        </div>
    </section>



    <!--end of counter section-->

    
    <!-- Testimonials section start-->
    <section>
        <div class="cont">
            <div class="cont-left">
                <h1>Read what our clients love about us</h1>
                <p>Over 300 companies from diverse sectors consult us to enhance the ux of their products and
                    services
                </p>
                <p>We have helped companies icrease their customer base and generate multifold revenue with our
                    service
                </p>
                <button>Read our success stories</button>
            </div>
            <div class="cont-right">
                <div class="test-card">
                    <img src="{% static 'images/pexels-billsalazar-17836197.jpg'%}" alt="user">
                    <div class="test-card-contents">
                        <span><i class="ri-double-quotes-l"></i></span>
                        <div class="test-card-details">
                            <p>The vertical garden from FRESHLY has transformed my small balcony into a lush garden. My yields have increased, and it’s so easy to manage!</p>
                            <h4 >Sarah Owino </h4>
                        </div>
                    </div>
                </div>
                <div class="test-card">
                    <img src="{% static 'images/pexels-michael-burrows-7125555.jpg'%}" alt="user">
                    <div class="test-card-contents">
                        <span><i class="ri-double-quotes-l"></i></span>
                        <div class="test-card-details">
                            <p>Our students love the vertical garden! It's educational, sustainable, and fits perfectly in our limited space. Plus, the yields are impressive.</p>
                            <h4>Omwamba Dennis</h4>
                        </div>
                    </div>
                </div>
                <div class="test-card">
                    <img src="{% static 'images/pexels-zen-chung-5529528.jpg'%}" alt="user">
                    <div class="test-card-contents">
                        <span><i class="ri-double-quotes-l"></i></span>
                        <div class="test-card-details">
                            <p>I started growing spinach, kale, and onions using Freshly's vertical garden system, and since then, my farm's yield has significantly increased while saving space and water. It's simple to maintain and highly effective. Highly recommended!</p>
                            <h4>Clementia Wachira</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Testimonials section end-->
    <hr>
    <!--News and blog section end-->
    <section class="container">
        <div class="blog-section">
            <div class="title">
                <h2>Blog & News</h2>
                <p>Discover! In our Blog & News section, we sow the seeds of knowledge on sustainable food production. Join us as we delve into the world of urban agriculture, nurturing both communities and the planet through innovative farming practices. Let's cultivate a greener, healthier tomorrow together!</p>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="image-section">
                        <img src="{% static 'images/pexels-greta-hoffman-7728353.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <h4>Hydroponic Agric.</h4>
                         <p> Explore the Hydroponic Horizon: Join us in uncovering the future of farming! In this blog series, we navigate the innovative realm of hydroponics, where soilless cultivation meets unparalleled efficiency. From vertical gardens to advanced nutrient solutions, discover how hydroponics is revolutionizing the way we grow food, paving the path towards a more sustainable and bountiful future.</p>
                        <a href="">Read More</a>
                    </div>
                    <div class="posted-date">
                        <p>Feb 19, 2024</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="{% static 'images/pexels-pixabay-39511.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <h4>Urban Farming</h4>
                        <p>Unleash the potential of your urban space! Dive into our urban farming blog series where we redefine the boundaries of agriculture. Discover how you can transform rooftops, balconies, and city corners into flourishing green havens, cultivating fresh produce and community connections right in the heart of the city. </p>
                        <a href="">Read More</a>
                    </div>
                    <div class="posted-date">
                        <p>Aug 17, 2023</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="{% static 'images/pexels-pixabay-39511.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <h4>Sustainability</h4>
                        <p>Embrace the green ethos with us! In this blog series, we explore the essence of sustainability and its pivotal role in shaping a better future. From reducing carbon footprints to fostering eco-conscious habits, join us on a journey towards a more sustainable tomorrow. </p>
                        <a href="">Read More</a>
                    </div>
                    <div class="posted-date">
                        <p>Dec 7, 2023</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--News and blog section end-->
    


    {%endblock%}