
{% extends 'master.html' %}
{% block title %}Contact - FRESHLY{% endblock %}
{%block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/installation.css' %}" />
{% endblock %}
{% block content %}
    <section id="banner">
        <img src="" alt="logo" class="logo">
        <div class="banner-txt">
            <h1>Freshly Installs</h1>
            <p>Choose the best start for your maximum returns</p>
            <div class="banner-btn">
                <a href="#"><span></span>Request Invoice</a>
                <a href="#"><span></span>Read More</a>
            </div>
        </div>
    </section>
    <!--features-->
    <section id="feature">
        <div class="title-text">
            <p>Features</p>
            <h1>Why Choose Us</h1>
        </div>
        <div class="feature-box">
            <div class="features">
                <h1>Experienced Staff</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <div class="feature-text">
                        <p>Meet Our Green Innovators: Harnessing Expertise and Passion to Transform Urban Spaces into
                            Thriving Farms, Delivering Top-Quality Produce through Cutting-Edge Techniques and Unmatched
                            Dedication</p>
                    </div>
                </div>
                <h1>Affordable cost</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="feature-text">
                        <p>Meet Our Green Innovators: Harnessing Expertise and Passion to Transform Urban Spaces
                            into
                            Thriving Farms, Delivering Top-Quality Produce through Cutting-Edge Techniques and
                            Unmatched
                            Dedication</p>
                    </div>
                </div>
                <h1>Growth followup</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-check-square"></i>
                    </div>
                    <div class="feature-text">
                        <p>Meet Our Green Innovators: Harnessing Expertise and Passion to Transform Urban Spaces
                            into
                            Thriving Farms, Delivering Top-Quality Produce through Cutting-Edge Techniques and
                            Unmatched
                            Dedication</p>
                    </div>
                </div>
            </div>
            <div class="features-img">
                <img src="{% static 'images/services/farmer.jpeg'%}" alt="">
            </div>
        </div>
    </section>
    <!--service-->
    
    <!--Testimonial-->
    <section id="" testimonial>
        <div class="title-text">
            <p>TESTIMONIALS</p>
            <h1>What Clients Says</h1>

        </div>
        <div class="testimonial-row">
            <div class="testimonial-col">
                <div class="user">
                    <img src="{% static 'images/founder.jpg'%}" alt="">
                    <div class="user-info">
                        <h4>Noty Kevz <i class="fab fa-twitter"></i></h4>
                        <small>@noty365</small>
                    </div>
                </div>

                <p>"we extremely love freshlhy and since we partnered with them weve realizes exceedingly high returns
                    like never before."</p>
            </div>
            <div class="testimonial-col">
                <div class="user">
                    <img src="{% static 'images/founder.jpg'%}" alt="">
                    <div class="user-info">
                        <h4>Noty Kevz <i class="fab fa-twitter"></i></h4>
                        <small>@noty365</small>
                    </div>
                </div>
                <p>"we extremely love freshlhy and since we partnered with them weve realizes exceedingly high returns
                    like never before."</p>
            </div>
            <div class="testimonial-col">
                <div class="user">
                    <img src="{% static 'images/founder.jpg'%}" alt="">
                    <div class="user-info">
                        <h4>Joyce Moraa <i class="fab fa-twitter"></i></h4>
                        <small>@sabina</small>
                    </div>
                </div>
                <p>"we extremely love freshlhy and since we partnered with them weve realizes exceedingly high returns
                    like never before."</p>
            </div>
        </div>
    </section>
    <!--Meet section-->
    <section class="footing">
        <div class="title-text">
            <p>CONTACT</p>
            <h1>Visit Shop Today</h1>

        </div>
        <div class="footing-row">
            <div class="footing-left">
                <h1>Opening Hours</h1>
                <p><i class="fas fa-clock"></i>
                    Monday to Friday-9am to 7pm</p>
                <p><i class="fas fa-clock"></i>
                    Saturday and Sunday-9am to 4pm</p>
            </div>
            <div class="footing-right">
                <h1>Get in Touch</h1>
                <p>30 abc Park, Nairobi <i class="fas fa-map-marker-alt"></i>
                </p>
                <p>kevinnoty21@gmail.com <i class="fas fa-paper-plane"></i>
                </p>
                <p>+254 7417 5371 0 <i class="fas fa-phone"></i>
                </p>
            </div>
        </div>
    </section>
{%endblock%}