{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="{% block meta_description %}width=device-width, initial-scale=1.0{% endblock %}"
    />

    <title>{% block title %}FRESHLY{% endblock %}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Placeholder for additional CSS files from child templates -->
    {% block extra_css %}{% endblock %}

    <!-- External libraries -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Start of nav section -->
    <header>
      <a href="{% url 'home' %}" class="logo">FRESHLY</a>
      <div class="menu-Toggle"></div>
      <nav>
        <ul>
          <li>
            <a href="#">PRODUCTS<b>▼</b></a>
            <ul>
              <li><a href="{%url 'add-products-url' %}">Add_product</a></li>
              <li><a href="{% url 'products-url' %}">View_product</a></li>
              <li><a href="#">Update</a></li>
            </ul>
          </li>
          <li>
            <a href="#">SERVICES <b>▼</b></a>
            <ul>
              <li><a href="{% url 'installation' %}">Installations</a></li>
              <li><a href="{% url 'consultations' %}">Consultations</a></li>
              <li><a href="{% url 'sales' %}">Gardening Eqpt.</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'about' %}">ABOUT US <b>▼</b></a>
            <ul>
              <li><a href="#team">Our Team</a></li>
              <li><a href="#mission">Mission</a></li>
              <li><a href="#vision">Vision</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'blogs' %}">BLOGS</a>
          </li>
          <li>
            <a href="#">GARDENS<b>▼</b></a>
            <ul>
              <li><a href="{% url 'hydroponics' %}">Hydroponics Gardens</a></li>
              <li><a href="{% url 'kitchen' %}">Kitchen Gardens</a></li>
              <li><a href="{% url 'chunnels' %}">Chicken Tunnels</a></li>
              <li><a href="{% url 'balcon' %}">Balcony/rooftop Gardens</a></li>
              <li>
                <a href="{% url 'Aquaponics' %}">Aquaponics Gardens</a><b>+</b>
              </li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">CONTACT US</a></li>
          <li>
            {% if user.is_authenticated %}
            <a href="#">{{ user.username }}</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <!-- Start of Footer Section -->
    <footer>
      <div class="global">
        <div class="curve"></div>
        <div class="container">
          <div class="footer-container">
            <div class="footer-column">
              <h6>FRESHLY</h6>
              <p>
                Creating a comprehensive solution that addresses multiple
                challenges within the food industry while also providing value
                to consumers, businesses, and the environment.
              </p>
            </div>
            <div class="footer-column">
              <h6>Pages</h6>
              <ul>
                <li><a href="#">Vertical Farming</a></li>
                <li><a href="#">Aquaponics</a></li>
                <li><a href="#">Permaculture</a></li>
                <li><a href="#">Bee-Friendly Orchards</a></li>
                <li><a href="#">Chicken Tunnels</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h6>Connect</h6>
              <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h6>Contact Us</h6>
              <ul>
                <li><a href="#">info@freshly.com</a></li>
                <li><a href="#">00100 Nairobi, Kenya</a></li>
                <li><a href="#">+254 7417 5371 0</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-row social">
            <h6>Follow Us</h6>
            <p>
              Let us join hands to envision and shape a world that values both
              nature and sustainability. Connect with us on other platforms.
            </p>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-snapchat"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>

          <div class="footer-row copyright">
            <p class="copyright">&copy; FRESHLY All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End of Footer Section -->
    <a href="https://wa.me/254741753710" class="whatsapp-link" target="_blank">
      <i class="fab fa-whatsapp whatsapp-icon"></i>
    </a>

    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}" defer></script>
  </body>
</html>
