{% extends 'master.html' %}
{% load static %}
{%block content}
<div class="title-box">
    <h1>Our Team</h1>
    <p>Step into the World of Expertise! Here, at the heart of our mission for sustainable <br> food production,
        you'll
        meet the passionate minds driving positive <br>change for our planet. Welcome to Our Team of Innovators,
        where
        every member <br> plays a vital role in shaping a greener, more sustainable future for all</p>
</div>
<div class="team-row">
    <div class="profile-box">
        <h4>Kevin Manoti</h4>
        <small>Founder and C.E.O</small>
        <img src="../static/images/founder.jpg" alt="img">
        <div class="social-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>

        </div>
        <p>meet the passionate minds driving positive change for our planet. Welcome,
            where</p>
    </div>
    <div class="profile-box">
        <h4>Churchil Manoti</h4>
        <small>UX Designer</small>
        <img src="../static/images/founder.jpg" alt="img">
        <div class="social-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>

        </div>
        <p>meet the passionate minds driving positive change for our planet. Welcome,
            where</p>
    </div>
    <div class="profile-box">
        <h4>Stacy Ondieki</h4>
        <small>Digital marketing</small>
        <img src="../static/images/sec1.jpg" alt="img">
        <div class="social-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>

        </div>
        <p>meet the passionate minds driving positive change for our planet. Welcome,
            where</p>
    </div>
    <div class="profile-box">
        <h4>Omolo Brian</h4>
        <small>C.0.O</small>
        <img src="../static/images/founder.jpg" alt="img">
        <div class="social-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>

        </div>
        <p>meet the passionate minds driving positive change for our planet. Welcome,
            where</p>
    </div>
    <div class="profile-box">
        <h4>Maverick ooko</h4>
        <small>Product Manager</small>
        <img src="../static/images/founder.jpg" alt="img">
        <div class="social-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>

        </div>
        <p>meet the passionate minds driving positive change for our planet. Welcome,
            where</p>
    </div>
    <div class="profile-box">
        <h4>Silas Oyugi</h4>
        <small>Software Engineer</small>
        <img src="../static/images/founder.jpg" alt="img">
        <div class="social-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>

        </div>
        <p>meet the passionate minds driving positive change for our planet. Welcome,
            where</p>
    </div>
</div>
{%endif%}
{%endblock%}