@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
section{
    position:relative;
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background: url(../images/Sustainable\ agriculture_\ Eco\ friendly\ farming\ Precision\ agriculture_\ Organic\ farming_.jpeg) no-repeat;*/
    background-size: cover;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding:30px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row{
margin-left: 0px;
margin-right: 0px;
}
.global{
    padding:50px;
    color: #f0f9ff;
    margin-top: 80px;
    background-image: url(../images/download\ \(6\).jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.global .curve{
    position: absolute;
    top: 17%;
    background: #000;
    opacity:0.2;
    width: 90%;
    height: 38%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;


}
.global h6{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.global ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}
.global ul a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.global ul a:hover{
    opacity: 0.8;
    color: #eee;
}
.global .social{
    width:100%;
    margin: 0 auto;
    text-align: center;
    padding:40px;
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}
.global .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display:inline-block;
    border-radius: 50px;
    border:2px solid #05ff05;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.global .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 1px 2px rgba(255, 255, 255, 0.9);
}
.global .copyright{
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}
@media(max-width: 767px){
    .global .curve{
        left: 5%;
        height: 70%;

    }
    .global h6{
        margin: 0 auto;
        text-align: center;
        margin: 10px;
        margin-bottom: 10px;
        
    }
    .global ul{
        text-align: center;

    }
    .social{
        margin: 0 auto;
    }
}
.carousel{
    width: 100vw;
    height: 100vh;
    position:relative ;
}
.carousel > ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset:0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-delay: 200ms;
}
.slide[data-active]{
    opacity:1;
    transition-delay: 0ms;
    z-index: 1;
}
.carousel-button{
    position:absolute;
    background: none;
    border:none;
    font-size: 4rem;
    top:50px;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.carousel-button:hover,
.carousel-button:focus{
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-button:focus{
    outline: 1px solid black;

}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}